:root {
  --title-color-text: rgba(0, 0, 0, 1);
  --hover-text-color: rgb(202, 27, 27);
  --primary-color: rgba(216, 30, 5, 1);
  --white-color: rgba(255, 255, 255, 1);
  --swiper-color: rgba(0, 6, 43, 1);
}
