.hero {
  &__container {
    padding: 0 28px;

    @include mq("min-w-lg") {
      padding: 79px 20px 70px 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url("src/img/hero/hero-baner.png");
      background-repeat: no-repeat;
      background-size: 55% 100%;
      background-position: right;
    }
  }

  &__left {
    margin: 0 auto;
    margin-bottom: 53px;
    max-width: 374px;

    @include mq("min-w-lg") {
      display: flex;
      justify-content: center;
      align-items: center;
      // max-width: 467px;
      margin-bottom: 0;
      width: 50%;
    }
  }

  &__right {
    @include mq("min-w-lg") {
      width: 50%;
    }
  }

  &__gray-rictangle {
    width: 356px;
    margin: 0 auto;
    margin-bottom: 54px;
    background: rgba(217, 217, 217, 1);
    height: 187px;

    @include mq("min-w-lg") {
      display: none;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: var(--primary-color);

    @include mq("min-w-lg") {
      text-align: start;

      font-size: 28px;
      font-weight: 400;
      line-height: 40px;
    }
  }
}

.form {
  background: #fff;
  box-shadow: 0px 4px 19.3px 4px rgba(0, 0, 0, 0.19);
  padding: 45px 27px;
  border-radius: 15px;
  max-width: 354px;
  margin: 0 auto;
  margin-bottom: 58px;

  @include mq("min-w-lg") {
    background: rgba(74, 74, 74, 0.82);
    padding: 52px 27px 45px 27px;
    margin-bottom: 0;
  }

  &__group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 11px;
    margin-bottom: 52px;

    @include mq("min-w-lg") {
      min-width: 290px;
      max-width: 300px;
    }
  }

  &__input {
    background: rgba(247, 247, 247, 1);
    width: 100%;
    font-family: " Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 17.5px;
    height: 40px;

    letter-spacing: 1px;
    color: var(--title-color-text);
    outline: none;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 12px;
    transition: all ease-in-out 0.24s;

    @include mq("min-w-lg") {
      text-align: start;
    }

    &:hover,
    &:focus {
      border: 1px solid var(--primary-color);
    }

    &::placeholder {
      text-align: center;
      text-transform: uppercase;
      color: rgba(129, 129, 129, 1);
    }
  }

  .form__tel {
    width: 100%;

    @include mq("min-w-lg") {
      position: relative;
      overflow: hidden;
    }

    input {
      width: 100%;
      padding-left: 40px;
      height: 100%;
      box-sizing: border-box;

      &::placeholder {
        text-align: start;

        @include mq("min-w-lg") {
          display: none;
        }
      }
    }
  }

  .iti {
    width: 100%;

    .form__input {
      width: 100%;
    }
  }

  .iti__selected-country {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2px;
    z-index: 1;
  }

  .iti__selected-country {
    border: none;
    background-color: rgba(217, 217, 217, 1);
    height: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

    width: 68px;
  }

  .iti__a11y-text {
    display: none;
  }

  .iti__country-name {
    display: none;
  }

  .iti__arrow {
    position: absolute;
    top: 50%;
    right: 3px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;
  }

  .iti__country-list {
    width: 100%;
  }

  &__custom-select {
    display: none;

    @include mq("min-w-lg") {
      display: block;
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(217, 217, 217, 1);
    }

    img {
      width: 16px;
      height: 9px;
    }

    p {
      font-family: " Open Sans";
      font-size: 14px;
      font-weight: 400;
      line-height: 17.5px;
      letter-spacing: 1px;
      text-align: center;
      color: rgba(40, 40, 40, 1);
    }
  }

  &__btn {
    width: 100%;
    cursor: pointer;
    border-radius: 4px;
    font-family: "Open Sans", sans-serif;
    padding: 14px 0 13px 0;
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 17.5px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: var(--primary-color);
    transition: all ease-in-out 0.24s;

    &:hover,
    &:focus {
      scale: 0.9;
      background-color: rgb(154, 22, 4);
    }
  }
}

.error-message {
  color: red;
  font-size: 12px;
  display: none;
}

input:invalid {
  border: 1px solid red;
}
