.profit {
  &__container {
    padding: 325px 21px 40px 21px;
    background: linear-gradient(180deg, #d81e05 0%, #490900 100%);
    position: relative;
  }

  &__img {
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 297px;
    height: 297px;
  }

  &__text-card {
    margin-bottom: 32px;
    padding: 46px 35px 8.9px 33px;
    background-image: url("/src/img/profit/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    p {
      font-size: 20px;
      font-weight: 600;
      line-height: 22px;
      text-align: center;
      color: rgba(255, 255, 255, 1);
    }
  }
}

.calculator {
  &__title {
    font-size: 38px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
  }

  &__card {
    margin-top: 19px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 40px 127px 0px rgba(0, 0, 0, 0.08);
box-shadow: 0px 15.41px 40.45px 0px rgba(0, 0, 0, 0.05);
box-shadow: 0px 3.26px 10.35px 0px rgba(0, 0, 0, 0.03);
    padding: 31px;
    border-radius: 20px;
    margin-bottom: 42px;
   

   
  }

  &__box {
    margin-bottom: 20px;

  }

  &__result {
    background: linear-gradient(90deg, #C91C04 0%, #D81E05 33.33%, #4B0900 66.67%, #4B0900 100%);
padding: 20px;
font-family: 'Montserrat',sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 24px;
color:rgba(255, 255, 255, 1);
border-radius: 38px;
display: flex;
justify-content: center;
align-items:center;
column-gap: 14px;
    span {
        font-size: 36px;
        line-height: 32px;
    }

  }

  &__value {
    
  }
  &__text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 16px;
    margin-bottom: 40px;

    &:last-child {
        margin-bottom: 0;
    }
    p {
        font-family: 'Montserrat',sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 20px;
text-align: center;
color: rgba(255, 255, 255, 1);


    }

    span {
        font-family: 'Montserrat',sans-serif;
font-size: 42px;
font-weight: 500;
line-height: 56px;
text-align: center;
color: rgba(255, 255, 255, 1);


    }
  }

}

.irs--round .irs-handle {
    background: rgba(216, 30, 5, 1) !important;
    border-color: rgba(216, 30, 5, 1) !important;
}
.irs--round .irs-bar {
    background: rgba(216, 30, 5, 1) !important;
}
.irs--round .irs-single {
    background: rgba(216, 30, 5, 1) !important;
}

.irs-single:before {
    width: 6px !important;
    height: 6px !important;
    background: rgba(216, 30, 5, 1) !important;
    bottom: -6px !important;
    left: 50% !important;
    border: none !important;
}