.services {
  &__container {
    padding: 0 20px;
  }

  &__title {
    font-size: 37px;
    font-weight: 400;
    line-height: 53.2px;
    text-align: center;

    @include mq("min-w-lg") {
      font-size: 37px;
      font-weight: 400;
      line-height: 53.2px;
    }
  }
}

.services-list {
  margin-top: 33px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 44.92px;


  @include mq('min-w-xl') {
    row-gap: 0;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;

   
   

  }



  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 360px;

    &:nth-child(1) {
       

        @include mq('min-w-xl') {
            img {
           
            }
    
            p {
                margin-bottom: 35.92px;
                
            }
        }
    } 

    &:nth-child(2) {
       

        @include mq('min-w-xl') {
            img {
                margin-bottom: 30px;
            }
    
            p {
                 margin-bottom: 34.92px;
    
            }
        }
    } 

    &:nth-child(3) {
       @include mq('min-w-xl') {
        img {
            margin-bottom: 47px;
        }

        p {
        margin-bottom: 36px;

        }
       }
    } 

    @include mq('min-w-xl') {
       align-items: flex-start
      }


  }

  &__img {
    width: 95px;
    height: 95px;
    margin-bottom: 52px;
  }

  &__title {
    font-size: 31px;
    font-weight: 400;
    line-height: 36.8px;
    text-align: center;
    color: var(--title-color-text);
    margin-bottom: 34px;
  }

  &__text {
    color: rgba(36, 36, 36, 1);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: center;
    margin-bottom: 32px;

    @include mq('min-w-lg') {
        text-align: start;
       
font-size: 16px;
font-weight: 400;
line-height: 22.4px;


    }
  }

  &__btn {
    width: 100%;
    background: rgba(210, 29, 5, 1);
    border-radius: 15px;
    box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    padding: 15px 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    transition: all ease-in-out 0.24s;
    border: none;

    &:hover , &:focus {
        scale: 0.9;
        background: var(--hover-text-color)
    }
  }
}
